/* font family defs */
@font-face {
    font-family: 'Comicoro'; /* 16px */
    src: url(../fnt/comicoro.woff2);
}
@font-face {
    font-family: 'Pixelpoiiz'; /* 10px */
    src: url(../fnt/pixelpoiiz.woff2);
}
@font-face {
    font-family: 'Scr18';
    src: url(../fnt/Scr18.woff2);
}

/* default html element overrides */
body {
    margin: 0;
    height: 100%;
    display: block;
    box-sizing: border-box;

    font-family: 'Comicoro';

    background-color: #110022;
    background-image: url(../img/bg.png);
    background-size: 128px;

    image-rendering: pixelated;
}
h1, h2, h3, h4 {
    font-family: 'Pixelpoiiz';
    margin: 0;
    margin-left: -21px;
    padding-left: 21px;
    background: #550066;
    background: linear-gradient(to right, #550066FF 0%,#550066FF 50%,#55006600 100%);
    text-shadow: 0px 0px 8px #FF99CC;
}
h1 { font-size: 40px; }
h2 { font-size: 30px; }
h3 { font-size: 20px; }
h4 { font-size: 10px; }

/* sidebar stuff */
.sidebar {
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    width: 256px;
    height: 100%;
    min-height: 100vh;
    left: 0px;
    top: 0px;
    float: left;
    background-image: url(../img/scrollbg.gif);
    border-right: 4px #550066 groove;
    color: white;
}
.sidebar > p {
    margin: 5px; 
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 32px; 
    line-height: 65%;
    color: #99FFCC;
    text-shadow: 0px 0px 6px #99FFCC;
}

/* nav button stuff */
.sidebar > ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    font-family: 'Pixelpoiiz';
    font-size: 20px;
    flex: 1;
}
.sidebar > ul > li {
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
}
.sidebar > ul > li:hover {
    background: #550066;
    background: linear-gradient(to bottom, #55006600 0%,#660061FF 50%,#55006600 100%);
    color: #FF99CC;
}
.sidebar > ul > li > a {
    text-decoration: none;
    color: inherit;
    margin-left: 20px;
    text-shadow: 0px 0px 8px #FF99CC;
}
.sidebar > ul > li > a > img { /* if you're looking at this code i apologize lmfao */
    filter: drop-shadow(0px 0px 4px #FF99CC);
}

.sidebar > ul > li[aria-disabled="true"] > a {
    pointer-events: none;
    color: #ca9dbd;
    text-shadow: 0px 0px 8px #ff7b7b;
}
.sidebar > ul > li[aria-disabled="true"]:hover {
    background: none;
    color: #ca9dbd;
}

/* sidebar marquee */
.text-scroller {
    margin-top: -6px;
    background: linear-gradient(to bottom, rgba(234,231,233,0.45) 0%,rgba(206,199,205,0.45) 4%,rgba(200,191,198,0.45) 7%,rgba(189,180,187,0.45) 11%,rgba(180,169,178,0.45) 18%,rgba(169,156,166,0.45) 21%,rgba(165,152,162,0.45) 25%,rgba(152,136,148,0.45) 29%,rgba(148,132,144,0.45) 32%,rgba(136,118,132,0.45) 36%,rgba(127,107,122,0.45) 43%,rgba(106,84,101,0.45) 54%,rgba(101,78,96,0.45) 61%,rgba(95,71,90,0.45) 64%,rgba(92,68,86,0.45) 79%,rgba(88,64,82,0.45) 82%,rgba(90,65,84,0.45) 89%,rgba(97,74,92,0.45) 93%,rgba(133,115,129,0.45) 96%,rgba(41,27,38,0.45) 100%);
    backdrop-filter: blur(4px); /* It's actually surprisingly easy to mod your 3DS */
    height: 32px;
    width: 100%;
}
.scroll-text {
    line-height: 32px;
    font-family: 'Scr18';
    font-size: 18px;
    color: #dbdcff;
    text-shadow: 0px 0px 6px #8577ff;
}

/* sidebar footer */
.sidebar-footer {
    margin-top: auto;
    padding-bottom: 10px;
    font-size: 32px;
    width: 256px;
    background: linear-gradient(to top, #b42071, #ff5c9200);
}
.sidebar-footer > p {
    color: #FFBEBE;
    text-shadow: 0px 0px 4px #FF7777;
    margin: 0;
    line-height: 65%;
}
.sidebar-footer > p > a {
    font-size: 16px;
    color: inherit;
}

.center-badge {
    display: block;
    width: 99px; 
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: -8px;
}

.zenkitty {
    text-shadow: 0px 0px 6px #4263f5;
    color: #a8c8ff;
}
.ashiekitty {
    text-shadow: 0px 0px 6px #8940ff;
    color: #e0c2ff;
}

/* page content rules */
.page-content {
    height: 100%;
    width: calc(100vw - 310px); /* god i love web development so much */
    margin-left: 256px;
    padding: 25px;
    color: white;
    display: inline-block;
}
.page-content > p {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 32px;
}
.page-content > a {
    color: #99FFCC;
    text-shadow: 0px 0px 6px #99FFCC;
    font-size: 32px;
}

#hello {
    image-rendering: auto;
    margin-bottom: 16px;
    width: 400px;
    max-width: 45vw;
    height: auto;
}

.construction {
    text-shadow: 0px 0px 8px #ffa366;
    color: #ffcca9;
}
.construction > img {
    vertical-align: middle;
    filter: drop-shadow(0px 0px 6px #ffa366);
}

.subnote { font-size: 16px!important; } /* love you so much css <3 */

/* links page stuff */
.link { text-decoration: none; }
.link:hover { text-decoration: underline; }

.link > img {
    display: inline-block;
    vertical-align: middle;
}

/* is this excessive? yes. do i care? no. */
#tw { filter: drop-shadow(0px 0px 4px #99c9ffcc); }
#gh { filter: drop-shadow(0px 0px 4px #da99ffcc); }
#yt { filter: drop-shadow(0px 0px 4px #ff9999cc); }
#rd { filter: drop-shadow(0px 0px 4px #ffca99cc); }

/* projects page cards */
/* why did i have to put so much effort into these */
.card {
    position: relative;
    display: block;
    margin-top: 20px;
    width: 50vw;
    max-width: 640px;
    border-radius: 5px;
    background: #000b13;
}
/* diy box shadow lmao */
.card::before {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    transition: 1s;
    filter: blur(5px);
    background: linear-gradient(to right, #ff89ff, #6bffc6);
}
.card:hover::before {
    filter: blur(10px);
}

.card-header {
    font-family: 'Pixelpoiiz';
    font-size: 30px;
    margin: 0;
    padding: 8px 8px 8px 16px;
    background: linear-gradient(to right, #3f183f, #0f412e);
    text-shadow: 0px 0px 8px #FF99CC;
    box-shadow: inset 0px -48px 24px -24px #000b13;
}
.card-header > span {
    width: 75%;
    display: inline-block;
}
.card-header > span > img {
    display: inline-block;
    vertical-align: middle;
    filter: drop-shadow(0px 0px 4px #FF99CC);
}
.icons {
    margin: 0;
    padding: 0;
    text-align: right;
    display: inline;
    position: absolute;
    right: 16px;
    width: 100%;
}
.icons > a {
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.5s;
    filter: drop-shadow(0px 0px 4px #ff6bce);
}
.icons > a:hover {
    color: #c3ffe8;
    filter: drop-shadow(0px 0px 8px #6bffae);
}
.card > p {
    display: inline-block;
    margin: 0;
    padding: 8px 16px 16px 16px;
    font-size: 24px;
    width: 100%;
    max-width: fit-content;
    text-shadow: 0px 0px 4px #FF7777;
}

#round-img {
    image-rendering:auto;
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

#active {
    font-size: 22px;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #bdffbd;
    text-shadow: 0px 0px 4px #4eda42;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #142213;
    background: linear-gradient(to right, #195e19, #142213);
}
#inactive {
    font-size: 22px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #ffbdbd;
    text-shadow: 0px 0px 4px #da4242;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #221313;
    background: linear-gradient(to right, #5e1919, #221313);
}
#on-hold {
    font-size: 22px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #ffedbd;
    text-shadow: 0px 0px 4px #ffed4f;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #221d13;
    background: linear-gradient(to right, #5e5419, #221d13);
}
#active > img, #inactive > img, #on-hold > img {
    display: inline-block;
    vertical-align: middle;
}

/* art gallery page stuff */
.gallery {
    margin: 10px;
    max-width: 768px;
    margin-left: -10px;
}
.gallery .box {
    float: left;
    position: relative;
    width: 100%;
}

.box > figure {
    overflow: hidden;
    margin: 10px;
    box-shadow: 0px 0px 8px #FF99CC;
    transition: box-shadow 0.5s;
}

@media only screen and (min-width : 600px) {
    .gallery .box {
        width: 50%;
    }
}
@media only screen and (min-width : 800px) {
    .gallery .box {
        width: 33.3%;
    }
}
@media only screen and (min-width : 9999px) {
   .box {
      width: 25%;
   }
}

.box > figure > img {
    image-rendering: auto;
    display: block;
    width: 100%;
    height: 256px;
    transition: transform 0.5s;
    object-fit: cover;
}

#lbl {
    position: absolute;
    margin: 10px;
    font-size: 32px;
    line-height: 32px;
    width: calc(100% - 20px);
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.40);
    text-align: center;
    text-decoration: none;
    color: #fff;
    opacity: 0;
    transition: opacity 0.5s;
    backdrop-filter: blur(4px);
}

.box > figure:hover { box-shadow: 0px 0px 16px #FF99CC; }

.box > figure:hover #lbl { opacity: 1; }

.box > figure:hover > img {
    transform: scale(1.05);
}

.caption {
    position: fixed;
    text-align: center;
    bottom: 12px;
    left: 0;
    margin: 0;
    padding: 0;
    font-size: 32px;
    color: #FFF;
    width: 100%;
    text-shadow: 0px 0px 8px #FF99CC;
}
.caption > span {
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    border-width: 10px;
    border-color: rgba(0,0,0,0); /* css why do you do this to me */
    border-style: solid;
    backdrop-filter: blur(4px); /* ash making sites be like excessive use of modern css features */
}
.caption > span > img {
    filter: drop-shadow(0px 0px 4px #FF99CC);
}

img.emoji {
    image-rendering: auto;
    height: 0.75em;
    width: 0.75em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
 }

/* download button for art gallery */
.featherlight .featherlight-dl-icon {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 25px;
    line-height: 25px;
    width: 25px;
    text-decoration: none;
    text-align: center;
    font-family: Arial, sans-serif;
    background: #220044;
    background: rgba(50, 50, 255, .3);
    color: #fff;
    border: 0;
    padding: 0;
}

/* mobile compatibility stuff */
.navButton { /* normally invisible on desktop */
    position: fixed;
    top: 16px;
    left: -256px;
    background-color: #550066;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    background: linear-gradient(to right, #550066FF 0%,#550066FF 50%,#55006600 100%);
    border: none;
    outline: none;
    visibility: hidden;
}

.navButton > img {
    width: 32px;
    padding-right: 24px;
    filter: drop-shadow(0px 0px 6px #FF99CC);
    transition: filter 0.5s;
}

.navButton:hover > img {
    filter: drop-shadow(0px 0px 6px #99ffee) drop-shadow(0px 0px 6px #99ffee);
}

@media only screen and (max-width: 600px) {
    .sidebar { left: -256px; transition: left 0.5s; }
    .page-content { width: calc(100vw - 32px); margin-left: 0px; padding-top: 82px; padding-right: 0px; transition: filter 0.5s; }
    .navButton { left: 3px; transition: left 0.5s; visibility: visible; }
    .card { width: calc(100vw - 64px); }
    #hello { max-width: 75vw; }
    #navOpen { filter: blur(4px); }
}

/* to better fit large screens, double scale literally everything lmao */
@media only screen and (min-width: 2048px) {
    .sidebar { width: 512px; background-size: 128px; border-right-width: 8px; }
    .sidebar > p { font-size: 64px; }
    .sidebar > a > img { width: 512px; }
    .text-scroller { height: 64px; }
    .scroll-text { font-size: 36px; line-height: 64px; }
    .sidebar > ul { font-size: 40px; }
    .sidebar > ul > li > a > img { width: 32px; }
    .sidebar-footer { width: 512px; }
    .sidebar-footer > p { font-size: 64px; }
    .sidebar-footer > p > img { width: 32px; }
    .sidebar-footer > p > a { font-size: 32px; }
    .center-badge, .sidebar-footer > a > img { width: 198px; }

    .page-content { margin-left: 512px; padding-left: 50px; width: calc(100vw - 620px); }
    .page-content > p { font-size: 64px; }
    .construction > img { width: 32px; }
    .subnote { font-size: 32px!important; }

    #hello { width: 800px; }

    .card { max-width: 1280px; margin-top: 40px; border-radius: 10px; }
    .card > p { font-size: 48px; }
    .card-header { font-size: 60px; box-shadow: inset 0px -96px 48px -48px #000b13 }
    .card-header > span > img { width: 64px; }

    .icons > a > img { width: 64px; }

    #round-img { width: 64px; height: 64px; }

    #active, #inactive, #on-hold { font-size: 44px; border-top-right-radius: 30px; border-bottom-right-radius: 30px; }
    #active > img, #inactive > img, #on-hold > img { width: 32px; }

    .gallery { max-width: 1536px; }
    .box { height: 512px; }
    .box > figure > img { height: 492px; }
    .caption { font-size: 64px; }
    #lbl { font-size: 64px; line-height: 64px; }

    h1, h2, h3, h4 { margin-left: -42px; padding-left: 42px; }
    h1 { font-size: 80px; }
    h2 { font-size: 60px; }
    h3 { font-size: 40px; }
    h4 { font-size: 20px; }
}