/* font family defs */
@font-face {
    font-family: 'Comicoro'; /* 16px */
    src: url(../fnt/comicoro.woff2);
}
@font-face {
    font-family: 'Pixelpoiiz'; /* 10px */
    src: url(../fnt/pixelpoiiz.woff2);
}

/* default html element overrides */
body {
    margin: 0;
    height: 100%;
    display: block;
    box-sizing: border-box;

    font-family: 'Comicoro';

    background-color: #110022;
    background-image: url(../img/bg.png);
    background-size: 128px;

    image-rendering: crisp-edges;
}
h1, h2, h3, h4 {
    font-family: 'Pixelpoiiz';
    margin: 0;
    margin-left: -21px;
    padding-left: 21px;
    background: #550066;
    background: linear-gradient(to right, #550066FF 0%,#550066FF 50%,#55006600 100%);
    text-shadow: 0px 0px 8px #FF99CC;
}
h1 { font-size: 40px; }
h2 { font-size: 30px; }
h3 { font-size: 20px; }
h4 { font-size: 10px; }

/* sidebar stuff */
.sidebar {
    position: fixed;
    overflow: auto;
    width: 256px;
    height: 100%;
    left: 0px;
    top: 0px;
    float: left;
    overflow-x: hidden;
    background-image: url(../img/scrollbg.gif);
    border-right: 4px #550066 groove;
    color: white;
}
.sidebar > p {
    margin: 5px; 
    font-size: 32px; 
    line-height: 65%;
    color: #99FFCC;
    text-shadow: 0px 0px 6px #99FFCC;
}

/* nav button stuff */
.sidebar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Pixelpoiiz';
    font-size: 20px;
}
.sidebar > ul > li {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}
.sidebar > ul > li:hover {
    background: #550066;
    background: linear-gradient(to bottom, #55006600 0%,#660061FF 50%,#55006600 100%);
    color: #FF99CC;
}
.sidebar > ul > li > a {
    text-decoration: none;
    color: inherit;
    margin-left: 20px;
    text-shadow: 0px 0px 8px #FF99CC;
}
.sidebar > ul > li > a > img { /* if you're looking at this code i apologize lmfao */
    filter: drop-shadow(0px 0px 4px #FF99CC);
}

/* sidebar footer */
.sidebar-footer {
    font-size: 32px;
    position: fixed;
    width: 256px;
    left: 0;
    bottom: 0;
}
.sidebar-footer > p {
    color: #FFBEBE;
    text-shadow: 0px 0px 4px #FF7777;
    margin: 0;
    line-height: 65%;
}
.sidebar-footer > p > a {
    font-size: 16px;
    color: inherit;
}

.center-badge {
    display: block;
    width: 99px; 
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: -8px;
}

.zenkitty {
    text-shadow: 0px 0px 6px #4263f5;
    color: #a8c8ff;
}
.ashiekitty {
    text-shadow: 0px 0px 6px #8940ff;
    color: #e0c2ff;
}

/* page content rules */
.page-content {
    height: 100%;
    width: calc(100vw - 310px); /* god i love web development so much */
    margin-left: 256px;
    padding: 25px;
    color: white;
    display: inline-block;
}
.page-content > p {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 32px;
}
.page-content > a {
    color: #99FFCC;
    text-shadow: 0px 0px 6px #99FFCC;
    font-size: 32px;
}

.construction {
    text-shadow: 0px 0px 8px #ffa366;
    color: #ffcca9;
}
.construction > img {
    vertical-align: middle;
    filter: drop-shadow(0px 0px 6px #ffa366);
}

.subnote { font-size: 16px!important; } /* love you so much css <3 */

/* links page stuff */
.link { text-decoration: none; }
.link:hover { text-decoration: underline; }

.link > img {
    display: inline-block;
    vertical-align: middle;
}

/* is this excessive? yes. do i care? no. */
#tw { filter: drop-shadow(0px 0px 4px #99c9ffcc); }
#gh { filter: drop-shadow(0px 0px 4px #da99ffcc); }
#yt { filter: drop-shadow(0px 0px 4px #ff9999cc); }
#rd { filter: drop-shadow(0px 0px 4px #ffca99cc); }

/* projects page cards */
/* why did i have to put so much effort into these */
.card {
    position: relative;
    display: block;
    margin-top: 20px;
    width: 50vw;
    max-width: 640px;
    border-radius: 5px;
    background: #000b13;
}
/* diy box shadow lmao */
.card::before {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    transition: 1s;
    filter: blur(5px);
    background: linear-gradient(to right, #ff89ff, #6bffc6);
}
.card:hover::before {
    filter: blur(10px);
}

.card-header {
    font-family: 'Pixelpoiiz';
    font-size: 30px;
    margin: 0;
    padding: 8px 8px 8px 16px;
    background: linear-gradient(to right, #3f183f, #0f412e);
    text-shadow: 0px 0px 8px #FF99CC;
    box-shadow: inset 0px -48px 24px -24px #000b13;
}
.card-header > span > img {
    display: inline-block;
    vertical-align: middle;
    filter: drop-shadow(0px 0px 4px #FF99CC);
}
.icons {
    margin: 0;
    padding: 0;
    text-align: right;
    display: inline;
    position: absolute;
    right: 16px;
    width: 100%;
}
.icons > a {
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.5s;
    filter: drop-shadow(0px 0px 4px #ff6bce);
}
.icons > a:hover {
    color: #c3ffe8;
    filter: drop-shadow(0px 0px 8px #6bffae);
}
.card > p {
    display: inline-block;
    margin: 0;
    padding: 8px 16px 16px 16px;
    font-size: 24px;
    width: 100%;
    max-width: fit-content;
    text-shadow: 0px 0px 4px #FF7777;
}

#round-img {
    image-rendering:auto;
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

#active {
    font-size: 22px;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #bdffbd;
    text-shadow: 0px 0px 4px #4eda42;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #142213;
    background: linear-gradient(to right, #195e19, #142213);
}
#inactive {
    font-size: 22px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #ffbdbd;
    text-shadow: 0px 0px 4px #da4242;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #221313;
    background: linear-gradient(to right, #5e1919, #221313);
}
#on-hold {
    font-size: 22px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #ffedbd;
    text-shadow: 0px 0px 4px #ffed4f;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #221d13;
    background: linear-gradient(to right, #5e5419, #221d13);
}
#active > img, #inactive > img, #on-hold > img {
    display: inline-block;
    vertical-align: middle;
}