/* font family defs */
@font-face {
    font-family: 'Comicoro'; /* 16px */
    src: url(../fnt/comicoro.woff2) format("woff2"),
         url(../fnt/comicoro.ttf) format("truetype");
}
@font-face {
    font-family: 'Pixelpoiiz'; /* 10px */
    src: url(../fnt/pixelpoiiz.woff2) format("woff2"),
         url(../fnt/pixelpoiiz.ttf) format("truetype");
}
@font-face {
    font-family: 'Scr18';
    src: url(../fnt/Scr18.woff2) format("woff2"),
         url(../fnt/Scr18.ttf) format("truetype");
}
@font-face {
    font-family: 'Scr14';
    src: url(../fnt/Scr14.woff2) format("woff2"),
         url(../fnt/Scr14.ttf) format("truetype");
}

/* default html element overrides */
html { overflow-x: hidden; }
body {
    margin: 0;
    height: 100%;
    display: block;
    box-sizing: border-box;

    font-family: 'Comicoro';

    background-color: #110022;
    background-image: url(../img/bg.png);
    background-size: 128px;

    image-rendering: pixelated;

    overflow-x: hidden;
}
h1, h2, h3, h4 {
    font-family: 'Pixelpoiiz';
    margin: 0;
    margin-left: -21px;
    padding-left: 21px;
    background: #550066;
    background: linear-gradient(to right, #550066FF 0%,#550066FF 50%,#55006600 100%);
    text-shadow: 0px 0px 8px #FF99CC;
}
h1 { font-size: 40px; }
h2 { font-size: 30px; }
h3 { font-size: 22px; font-family: 'Comicoro' }
h4 { font-size: 12px; font-family: 'Comicoro'}
h1#err > img { filter: drop-shadow(0px 0px 6px #FF99CC) }
#err { background: linear-gradient(to right, rgb(102, 0, 0) 0%,rgb(102, 0, 0) 50%,#55006600 100%) }

ul {
    margin: 0;
    padding-bottom: 16px;
    font-size: 32px;
    list-style-type: square; /* fallback */
    list-style-image: url(../img/heart-bullet.png);
}
ul > li {
    line-height: 85%;
    text-shadow: 0px 0px 6px #99FFCC;
}

input, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #fff;
    background-color: #102;
    font-family: Scr14;
    font-size: 14px;
    border: 2px #860086 inset;
    transition: border 0.3s, box-shadow 0.3s;
}
input:focus, textarea:focus {
    outline: none;
    border: 2px #00bb8c solid;
    box-shadow: 0px 0px 8px #6bffc6;
}
input.error, textarea.error {
    border: 2px #d51616 solid; 
    box-shadow: 0 0 8px #ff3737; 
    outline: none;
}

hr {
    color: #ad008a;
    box-shadow: 0px 0px 8px #ff41b5;
    border: 1.5px solid;
}

.page-background {
    background-image: url('../img/bg.gif');
    background-size: 512px;
    image-rendering: pixelated;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

/* my tech stuff */
.tdiv { 
    overflow: auto; 
    max-width: 100%; 
    width: fit-content; 
    box-shadow: 0 0 8px #d06; 
}
table {
    min-width: 480px;
    max-width: 720px;  
    border: 4px ridge #da006d;
    background-color: #310019;
    border-collapse: collapse;
}
tbody, th, td {
    border: 1px solid #850042;
    padding: 6px;
}
.table-header { background-image: url('../img/dither-header.png') }
th { 
    font-weight: 400;
    font-size: 32px; 
    text-shadow: 0px 0px 8px #F9C; 
    border: none;
}
td {
    font-size: 24px;
}
td > img {
    width: 32px;
    vertical-align: middle;
}
td#ico { text-align: center; filter: drop-shadow(0px 0px 4px #F9C); }
td#icoT { text-align: center; filter: drop-shadow(0px 0px 3px #6f6); }
td#icoX { text-align: center; filter: drop-shadow(0px 0px 3px #f55); }

.parts {
    max-height: 0;
    transition: max-height 0.5s;
    overflow: hidden;
}
.parts > ul { padding: 0; list-style-type: none; list-style-image: none;}
.parts > ul > li {
    font-size: 24px;
    text-shadow: none;
}
.parts > ul > li > img {
    filter: drop-shadow(0px 0px 2px #F9C);
}

.partsbtn::before {
    content: '>  ';
    display: inline-block;
    margin-right: 8px;
    transition: transform 0.3s;
}
.partsbtn[open]::before {
    transform: rotate(90deg);
}

.partsbtn {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background-color: none;
    font-family: Comicoro;
    font-size: 24px;
    text-align: left;
    background-color: #850042;
    color: #FFF;
    transition: color 0.3s, text-shadow 0.3s;
    margin-left: -6px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 8px;
}
.partsbtn:hover {
    color: #f8c5ff;
    text-shadow: 0px 0px 8px #E9F;
}


/* sidebar stuff */
.sidebar {
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: clip;
    width: 256px;
    height: 100%;
    min-height: 100vh;
    left: 0px;
    top: 0px;
    float: left;
    background-image: url(../img/scrollbg.gif);
    background-size: 128px;
    border-right: 4px #550066 groove;
    color: white;
}
.sidebar > p {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 32px;
    line-height: 65%;
    color: #9fc;
    text-shadow: 0 0 6px #9fc;
    background-color: #285;
    background: linear-gradient(to bottom, #174, #1740);
}

/* nav button stuff */
.sidebar > ol {
    list-style-type: none;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    font-family: 'Pixelpoiiz';
    font-size: 20px;
    flex: 1;
}
.sidebar > ol > li {
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
}
.sidebar > ol > li:hover {
    background: #116655;
    background: linear-gradient(to bottom, #11665500 0%,#116655FF 50%,#11665500 100%);
    color: #99FFCC;
}
.sidebar > ol > li > a {
    text-decoration: none;
    color: inherit;
    margin-left: 20px;
    text-shadow: 0px 0px 8px #FF99CC;
}
.sidebar > ol > li > a > img { /* if you're looking at this code i apologize lmfao */
    filter: drop-shadow(0px 0px 4px #FF99CC);
    width: 16px;
    height: 16px;
    image-rendering: auto;
}

.sidebar > ol > li[aria-disabled="true"] > a {
    pointer-events: none;
    color: #ca9dbd;
    text-shadow: 0px 0px 8px #ff7b7b;
}
.sidebar > ol > li[aria-disabled="true"]:hover {
    background: none;
    color: #ca9dbd;
}

/* mobile mininav */
.mobilenav {
	height: 32px;
	margin-top: -3px;
	font-family: Scr18;
	font-size: 18px;
	line-height: 100%;
	position: fixed;
	top: 3px;
	left: -256px;
	visibility: hidden;
	width: 100vw;
	z-index: 2;
	background: linear-gradient(to top, #ff8ba46e 0%,#a0286087 50%, #31133abd 100%);
}
.mobilenav > div { 
	overflow-x: scroll;
	overflow-y: visible;
	white-space: nowrap;
	line-height: 36px;
	width: calc(100% - 45px);
	display: inline-block;
	position: relative;
	left: 45px;
}
.mobilenav > div > a {
 color: #ffd9ff;
 position:relative;
text-shadow: 0px 0px 6px #8662e3;
  text-decoration: none;
  padding-left: 8px;
  display: inline-block;
  top: 0px;
}
.mobilenav > div > a:before {
	content:' ';
	display:block;
	position:absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 32px;
	opacity: 0.4;
	image-rendering: auto;
	background-image: url('../img/mininavbutton.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-right: 8px;
	margin: 0;
	z-index: -2;
}
.mobilenav > div > a.active:before {
	opacity: .7 !important;
    filter: saturate(0.5) brightness(1.5);
}
.start-button {
	top:-7px;
	left:2px;
	width:40px;
	height:44px;
	background-image: url('../img/ashstart.png');
	background-size: 54px 162px;
	display: inline-block;
	position: absolute;
	background-position: -7px -2px;
    border: none;
    background-color: #0000;
}
.start-button:hover {
	background-position: -7px 106px!important;
}
.start-button:active {
	background-position: -7px 52px;
}

/* sidebar marquee */
.text-scroller {
    margin-top: -6px;
    background: linear-gradient(to bottom, rgba(225,245,238,0.45) 0,rgba(185,231,206,0.45) 4%,rgba(159,223,193,0.45) 11%,rgba(146,218,182,0.45) 18%,rgba(129,213,175,0.45) 21%,rgba(125,211,172,0.45) 25%,rgba(104,204,161,0.45) 29%,rgba(98,202,157,0.45) 32%,rgba(81,197,143,0.45) 36%,rgba(65,193,137,0.45) 43%,rgba(52,166,115,0.45) 54%,rgba(49,161,109,0.45) 61%,rgba(45,151,100,0.45) 64%,rgba(44,148,103,0.45) 79%,rgba(42,142,99,0.45) 82%,rgba(43,145,99,0.45) 89%,rgba(47,155,105,0.45) 93%,rgba(76,196,140,0.45) 96%,rgba(23,85,56,0.45) 100%);
    backdrop-filter: blur(4px); /* It's actually surprisingly easy to mod your 3DS */
    height: 32px;
    width: 100%;
}
.scroll-text {
    line-height: 32px;
    font-family: 'Scr18';
    font-size: 18px;
    color: #dbdcff;
    text-shadow: 0px 0px 6px #8577ff;
    width: 100%;
}

/* sidebar footer */
.sidebar-footer {
    margin-top: auto;
    padding-bottom: 15px;
    font-size: 32px;
    width: 256px;
    background: linear-gradient(to top, #b42071, #ff5c9200);
}
.sidebar-footer > p {
    color: #FFBEBE;
    text-shadow: 0px 0px 4px #FF7777;
    margin: 0;
    line-height: 65%;
}
.sidebar-footer > p > a {
    font-size: 16px;
    color: inherit;
}

.center-badge {
    display: block;
    width: 99px; 
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: -8px;
}
.center-badge > img { filter: drop-shadow(0px 0px 6px #e27285) }


.zenkitty {
    text-shadow: 0px 0px 6px #4263f5;
    color: #a8c8ff;
}
.ashiekitty {
    text-shadow: 0px 0px 6px #8940ff;
    color: #e0c2ff;
}

/* page content rules */
.page-content {
    width: calc(100vw - 306px); /* god i love web development so much */
    height: 100%;
    margin-left: 256px;
    padding: 25px;
    color: white;
    display: inline-block;
}
.page-content > p {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 32px;
}
.page-content > a, .page-content > p > a, .feed > ul > li > a {
    color: #99FFCC;
    text-shadow: 0px 0px 6px #99FFCC;
    font-size: 32px;
}

#hello {
    image-rendering: auto;
    margin-bottom: 16px;
    width: 400px;
    max-width: 45vw;
    height: auto;
}

.construction {
    text-shadow: 0px 0px 8px #ffa366;
    color: #ffcca9;
}
.construction > img {
    vertical-align: middle;
    filter: drop-shadow(0px 0px 6px #ffa366);
}

.subnote { font-size: 22px!important; color: #c397d4; } /* love you so much css <3 */
.subnote > img {
    vertical-align: middle;
}

/* newsfeed stuff */
.feed {
    margin-top: 8px;
}
.feed > p {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 48px;
    font-size: 32px;
    text-shadow: 0 0 6px #9fc;
}
.feed > p > a {
    color: #9fc;
}
.post {
    font-weight: 400;
    font-family: 'Comicoro';
    font-size: 32px;
    width: 65%;
    margin-top: 8px;
}
.post > .subnote {
    position: relative;
    top: -2px;
}
.post > img {
    filter: drop-shadow(0 0 4px #dcc7ff);
    position: relative;
    top: 2px;
}

.update { 
    text-shadow: 0px 0px 6px #a974ff; 
    color: #e0c2ff; 
    background: linear-gradient(to right, #581672FF 0%,#3e1c75FF 50%,#3e1c7500 100%);
}

.blog { 
    text-shadow: 0px 0px 6px #ffa366; 
    color: #ffcca9; 
    background: linear-gradient(to right, #661d00FF 0%,#663100FF 50%,#661d0000 100%);
}
.blog > .subnote {
    color: #d69f79;
}
.blog > img {
    filter: drop-shadow(0 0 4px #ffcca9);
}

.project {
    text-shadow: 0px 0px 6px #74ffd1; 
    color: #c2ffeb; 
    background: linear-gradient(to right, rgb(22, 114, 80) 0%,rgb(28, 101, 117) 50%,#3e1c7500 100%);
}
.project > .subnote {
    color: #79d6c0;
}
.project > img {
    filter: drop-shadow(0 0 4px #c2ffeb);
}


.raw-feed {
    font-family: 'Comicoro';
    font-size: 32px;
    text-shadow: 0px 0px 4px #ffa366;
    transition: text-shadow 0.5s;
    color: #fff;
    box-sizing: border-box;
    border: none;
    background: #8d40ac;
    box-shadow: inset -2px -2px #3b044b, inset 2px 2px #e2b0ff, inset -4px -4px #783b80, inset 4px 4px #ca86df;
    border-radius: 0;
    
    min-width: 75px;
    min-height: 23px;
    padding: 0 12px;
    margin-top: 8px;
    vertical-align: top;
    text-decoration: none;
    display: inline-block;
}
.raw-feed:hover {
    text-shadow: 0px 0px 8px #ffa366, 0px 0px 8px #ffa366;
}
.raw-feed:active {
    background: #64287c;
    box-shadow: inset -2px -2px #e2b0ff, inset 2px 2px #3b044b, inset -4px -4px #ca86df, inset 4px 4px #783b80;
}

#rawfeed > img {
    filter: drop-shadow(0px 0px 4px #99FFCC);
}

/* links page stuff */
.link { text-decoration: none; }
.link:hover { text-decoration: underline; }

.link > img {
    display: inline-block;
    vertical-align: middle;
    border-radius: 6px;
}

/* is this excessive? yes. do i care? no. */
#tw { box-shadow: 0px 0px 6px #99c9ff; }
#gh { box-shadow: 0px 0px 6px #da99ff; }
#yt { box-shadow: 0px 0px 6px #ff9999; }
#rd { box-shadow: 0px 0px 6px #ffca99; }
#ds { box-shadow: 0px 0px 6px #c099ff; }
#tu { box-shadow: 0px 0px 6px #DB92AC; }
#ch { box-shadow: 0px 0px 6px #FFCD9E; }
#mt { box-shadow: 0px 0px 6px #6364FF; }

#glow-ase {filter:drop-shadow(0px 0px 4px #FFF)}
#glow-csp {filter:drop-shadow(0px 0px 4px #7babd6)}
#glow-sai {filter:drop-shadow(0px 0px 4px #ABC144)}
#glow-pdn {filter:drop-shadow(0px 0px 4px #739ade)}
#glow-fur {filter:drop-shadow(0px 0px 4px #467193)}
#glow-fl {filter:drop-shadow(0px 0px 4px #F78C23)}
#glow-ink {filter:drop-shadow(0px 0px 4px #455e82)}
#glow-vsc {filter:drop-shadow(0px 0px 4px #25aff3)}
#glow-kra {filter:drop-shadow(0px 0px 4px #ffccf8)}

/* projects page cards */
/* why did i have to put so much effort into these */
.card {
    position: relative;
    display: block;
    margin-top: 20px;
    width: 50vw;
    max-width: 640px;
    border-radius: 5px;
    background: #000b13;
}
/* diy box shadow lmao */
.card::before {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    transition: 0.5s;
    filter: blur(5px);
    background: linear-gradient(to right, #ff89ff, #6bffc6);
}
.card:hover::before {
    filter: blur(10px);
}

.card-header {
    font-family: 'Pixelpoiiz';
    font-size: 30px;
    margin: 0;
    padding: 8px 8px 8px 16px;
    background: linear-gradient(to right, #3f183f, #0f412e);
    text-shadow: 0px 0px 8px #FF99CC;
    box-shadow: inset 0px -48px 24px -24px #000b13;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.card-header > span {
    width: 75%;
    display: inline-block;
}
.card-header > span > img {
    display: inline-block;
    vertical-align: middle;
    filter: drop-shadow(0px 0px 4px #FF99CC);
}
.card-banner {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    image-rendering: auto;
}
.card-header.banner {
    margin-top: -6px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.icons {
    margin: 0;
    padding: 0;
    text-align: right;
    display: inline;
    position: absolute;
    right: 16px;
    width: 100%;
}
.icons > a {
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.5s;
    filter: drop-shadow(0px 0px 4px #ff6bce);
}
.icons > a:hover {
    color: #c3ffe8;
    filter: drop-shadow(0px 0px 8px #6bffae);
}
.card > p {
    display: inline-block;
    margin: 0;
    padding: 8px 16px 16px 16px;
    font-size: 24px;
    width: 100%;
    max-width: fit-content;
    text-shadow: 0px 0px 4px #FF7777;
}

#round-img {
    image-rendering:auto;
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

#active {
    font-size: 22px;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #bdffbd;
    text-shadow: 0px 0px 4px #4eda42;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #142213;
    background: linear-gradient(to right, #195e19, #142213);
}
#inactive {
    font-size: 22px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #ffbdbd;
    text-shadow: 0px 0px 4px #da4242;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #221313;
    background: linear-gradient(to right, #5e1919, #221313);
}
#on-hold {
    font-size: 22px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #ffedbd;
    text-shadow: 0px 0px 4px #ffed4f;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #221d13;
    background: linear-gradient(to right, #5e5419, #221d13);
}
#active > img, #inactive > img, #on-hold > img {
    display: inline-block;
    vertical-align: middle;
}

/* art gallery page stuff */
.gallery {
    margin: 10px;
    margin-left: -10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery .box {
    float: left;
    position: relative;
    width: 100%;
}

.box > figure {
    overflow: hidden;
    margin: 10px;
    box-shadow: 0px 0px 8px #FF99CC;
    transition: box-shadow 0.5s;
    border-radius: 5px;
}

@media only screen and (min-width : 600px) {
    .gallery .box {
        width: 50%;
    }
}
@media only screen and (min-width : 850px) {
    .gallery .box {
        width: 33.3%;
    }
}
@media only screen and (min-width : 1400px) {
    .gallery .box {
       width: 17.5%;
    }
 }

.box > figure > img {
    image-rendering: auto;
    display: block;
    width: 100%;
    height: 256px;
    transition: transform 0.5s;
    object-fit: cover;
}

#lbl {
    position: absolute;
    margin: 10px;
    font-size: 32px;
    line-height: 32px;
    width: calc(100% - 20px);
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    text-decoration: none;
    color: #fff;
    opacity: 0;
    transition: opacity 0.5s;
    backdrop-filter: blur(4px);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.box > figure:hover { box-shadow: 0px 0px 16px #FF99CC; }

.box > figure:hover #lbl { opacity: 1; }

.box > figure:hover > img {
    transform: scale(1.05);
}

.caption {
    position: fixed;
    text-align: center;
    bottom: 48px;
    left: 0;
    margin: 0;
    padding: 0;
    font-size: 32px;
    color: #FFF;
    width: 100%;
    text-shadow: 0px 0px 8px #FF99CC;
}
.caption > span {
    background-color: rgba(25, 0, 35, 0.5);
    border-radius: 10px;
    border-width: 10px;
    border-color: rgba(0,0,0,0); /* css why do you do this to me */
    border-style: solid;
    backdrop-filter: blur(4px); /* ash making sites be like excessive use of modern css features */
}
.caption > span > img {
    filter: drop-shadow(0px 0px 4px #FF99CC);
}

img.emoji {
    image-rendering: auto;
    height: 0.75em;
    width: 0.75em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
 }

/* download button for art gallery */
.featherlight .featherlight-dl-icon {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 25px;
    line-height: 25px;
    width: 25px;
    text-decoration: none;
    text-align: center;
    font-family: Arial, sans-serif;
    background: #220044;
    background: rgba(50, 50, 255, .3);
    color: #fff;
    border: 0;
    padding: 0;
}

/* art gallery category selector */

.gallery-selector {
    display: flex;
    padding-top: 10px;
    justify-content: center;
}

.gallery-selector > a {
    margin-right: 32px;
    color: #b2cfbf;
    text-shadow: 0px 0px 0px transparent;
    font-size: 32px;
    transition: 0.5s ease-in-out;
    text-decoration: underline overline wavy transparent;
    text-decoration-thickness: from-font;
}
.gallery-selector > a:hover {
    color: #99FFCC;
    text-shadow: 0px 0px 6px #99FFCC;
    text-decoration: underline overline wavy #99FFCC;
}

.gallery-selector > a[selected] {
    text-decoration: underline overline wavy #99FFCCFF;
    background: linear-gradient(to top, rgba(0, 100, 50, 0) 0%, rgb(0, 100, 50) 50%, rgba(0, 100, 50, 0) 100%);
    color: #99FFCC;
    text-shadow: 0px 0px 6px #99FFCC;
}

/* guestbook things */
flexbr {
    flex-basis: 100%;
    height: 0;
}
.guestbook {
    display: flex;
    flex-flow: row wrap;
    font-size: 32px;
    max-width: 640px;
    margin-bottom: 32px;
}

.guestbook > p {
    margin: 0;
    padding-top: 12px;
    display: inline-flex;
    flex: 1;
}

.guestbook > p > label { 
    flex: none;
    display: block;
    width: 80px;
    text-align: right;
    padding-right: 8px;
}
.guestbook > p > label > span {
    text-shadow: none;
    bottom: 16px;
    position: relative;
}

.guestbook > p > input {
    display: block;
    flex: 1 0 auto;
    margin: 4px;
}
.guestbook > p > textarea {
    margin: 4px;
    height: 64px;
    flex: 1 0 auto;
    box-sizing: border-box;
    resize: none;
}

.guestbook > p > button {
    font-family: 'Comicoro';
    font-size: 32px;
    text-shadow: 0px 0px 4px #9c94ff;
    transition: text-shadow 0.5s;
    color: #fff;
    box-sizing: border-box;
    border: none;
    background: #79256e;
    box-shadow: inset -2px -2px #4b0433,inset 2px 2px #ff8bd9,inset -4px -4px #712356,inset 4px 4px #9d517d;
    border-radius: 0;
    
    min-width: 75px;
    min-height: 23px;
}
.guestbook > p > button:hover {
    text-shadow: 0px 0px 6px #9c94ff, 0px 0px 8px #9c94ff;
}
.guestbook > p > button:active {
    background: #5e1955;
    box-shadow: inset -2px -2px #ff8bd9, inset 2px 2px #4b0433, inset -4px -4px #9d517d, inset 4px 4px #712356;
}
#postBtn { justify-content: right; margin-right: 4px }

#name {
    color: #99FFCC;
    text-shadow: 0px 0px 6px #99FFCC;
}
#email {
    text-shadow: 0px 0px 6px #8940ff;
    color: #e0c2ff;
}
#message {
    display: block;
    color: #fff;
    text-shadow: 0px 0px 6px #FF99CC;
}

/* guestbook entries */

.gb-entries { margin-top: 32px; margin-right: 4px; }

.gbe {
    display: block;
    background-color: #000b13;
    border-radius: 5px;
    max-width: 640px;
    min-height: 96px;
    margin-bottom: 16px;
    font-size: 32px;

    box-shadow: 0px 0px 8px #6bffc6;
    transition: box-shadow 0.5s;
}
.gbe:hover {
    box-shadow: 0px 0px 16px #6bffc6;
}
.gbe-header {
    background: linear-gradient(to bottom,#0f412e, #000b13);
    border-radius: 5px;
}
.gbe-header > p {
    display: inline;
    margin: 0;
    text-shadow: 0px 0px 6px #FF99CC;
}
.gbe-name {
    padding-left: 16px;
    float: left;
}
.gbe-timestamp {
    float: right;
    padding-right: 16px;
    color: #45cea5;
    text-shadow: 0 0 6px #6bffc6 !important;
}
.gbe-email {
    display: block!important;
    padding-left: 16px;
    font-size: 14px;
    font-family: Scr14;
    color: #e59fff;
}
.gbe > p {
    margin: 16px;
    font-size: 18px;
    font-family: Scr18;
    overflow-wrap: break-word;
    padding-bottom: 16px;
}

/* alternating card theming bc why not uwu */
.gbe:nth-child(odd) {
    background-color: #1a001f;
    box-shadow: 0px 0px 8px #ff89ff;
}
.gbe:nth-child(odd):hover {
    box-shadow: 0px 0px 16px #ff89ff;
}
.gbe:nth-child(odd) > .gbe-header {
    background: linear-gradient(to bottom,#3f183f, #1a001f);
}
.gbe:nth-child(odd) > .gbe-header > .gbe-timestamp {
    color: #da78dd;
    text-shadow: 0 0 6px #ff89ff !important;
}
.gbe:nth-child(odd) > .gbe-header > .gbe-email {
    color: #45cea5;
    text-shadow: 0 0 6px #6bffc6 !important;
}

.web-buttons > a {
    display: inline;
    margin-right: -4px;
}

iframe.captcha-frame {
    border: none;
    margin-right: 4px;
    border-radius: 5px;
    box-shadow: 0px 0px 12px #b942b9;
    margin-top: 8px;
    transition: box-shadow 0.5s;
}

.errorNotif {
    font-size: 32px;
    background-color: #4a0000;
    border-radius: 8px;
    max-width: 640px;
    background: linear-gradient(to right, #4a0000, #952036);
    margin-bottom: 8px;
    box-shadow: 0px 0px 8px #740a18;
}
.errorNotif > p {
    display: inline-block;
    margin-left: 16px;
    text-shadow: 0 0 6px #ff314e;
    color: #FBB;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 80%;
}
.errorNotif > a {
    text-decoration: none;
    float: right;
    display: inline;
    margin-right: 16px;
    color: #FAC;
    text-shadow: 0 0 6px #ff314e;
    transition: 0.5s;
    position:relative;
}
.errorNotif > a:hover {
    float: right;
    margin-right: 16px;
    color: rgb(255, 221, 170);
    text-shadow: 0 0 12px #ffac68;
}

.index-overlay {
    position:absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 256px;
    height: 256px;
    background-image: url('../img/1yearanni.png');
}

.topdecor {
    position: fixed;
    top: 0;
    z-index: 1;
    background-image: url('../img/topdecor.png');
    background-size: 256px 64px;
    background-repeat: repeat-x;
    height: 64px;
    width: 100%;
  }


/* mobile compatibility stuff */
.nav-button { /* normally invisible on desktop */
    position: fixed;
    top: 64px;
    left: -256px;
    background-color: #550066;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    background: linear-gradient(to right, #550066FF 0%,#550066FF 50%,#55006600 100%);
    border: none;
    outline: none;
    visibility: hidden;
}

.nav-button > img {
    width: 32px;
    padding-right: 24px;
    filter: drop-shadow(0px 0px 6px #FF99CC);
    transition: filter 0.5s;
}

.nav-button:hover > img {
    filter: drop-shadow(0px 0px 6px #99ffee) drop-shadow(0px 0px 6px #99ffee);
}

#hits {
    font-size: 16px;
    color: #FFF;
    margin-left: 6px;
}

@media only screen and (max-width: 640px) {
    .sidebar { left: -260px; transition: left 0.5s; }
    .sidebar > a {
        padding-top: 64px;
    }
    .index-overlay { top: 64px }
    .topdecor { top: 64px }
    .sidebar > p {
        margin-top: -6px;
        margin-bottom: 0;
    }
    .page-content { width: calc(100vw - 32px); margin-left: 0px; padding-top: 96px; padding-right: 0px; transition: filter 0.5s; }
    .nav-button { left: 3px; transition: left 0.5s; visibility: visible; }
    .card { width: calc(100vw - 64px); }
    #hello { max-width: 75vw; }
    #navOpen { filter: blur(4px) brightness(0.5); }

    .feed > h1, .feed > h2 { width: inherit; }

    .featherlight-close-icon { width: 50px!important; line-height: 50px!important; font-size: 32px; }
    .featherlight-dl-icon { width: 50px!important; line-height: 50px!important; right: 50px!important; font-size: 32px; }

    .text-scroller {
		position: fixed;
		top: 38px;
		left: 0px;
		width: 100vw;
		z-index: 1;
	}
	.mobilenav {
		left: 0px;
		visibility: visible;
        backdrop-filter: blur(4px);
	}
}

/* to better fit large screens, double scale literally everything lmao */
@media only screen and (min-width: 4000px) {
    body { transform: scale(2.0); transform-origin: top left; width: 50vw; height: 50vh; overflow-y: hidden; }

    .page-content { width: calc(50vw - 306px); height: calc(50vh - 50px); overflow: scroll; }
    .sidebar { min-height: 50vh; height: 50vh; }
}

/* for users who prefer reduced motion */
@media (prefers-reduced-motion) {
    .sidebar {
        background-image: url('../img/scrollbg.png');
    }
    .page-background {
        background-image: url('../img/bg.png');
    }
}   